html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #f3f1ff;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
}
.header{
  padding: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* background-color: #562EFF; */
}
.landing {
  font-size: 1.5rem;
  text-align:center;
  position: fixed;
}
.nav{
  width: 100%;
  background-color: #562EFF;
}
.nav2{
  /* background-color: #562EFF; */
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 90px;
  padding-top: 2rem;
  font-size: 1.5rem;
}
ul.nav-bar {
    list-style-type: none;
    margin: 0;
    top: 0;
    width: 100%;
    color: rgb(255, 255, 255);
}
ul.nav-bar>li{
    display: inline;
    text-align:center;
    font-size: 1.5rem;
}
li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 20px 10px;
    padding-right: 40px;
      }
  li a:hover {
    color: rgb(255, 255, 255);
  }
  .idea{
    display: inline;
    text-align:center;
    font-size: 2rem;
    color: rgb(255, 255, 255);
  }
  .idea:hover {
    color: rgb(255, 255, 255);
  }
 section {
   display:flex;
 }
article{
    margin: 0 auto;
}
.products{
  align-items: center;
}
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.product-thumbnail{
  height: auto;
  width: 100%;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

                                              /* Flex container */
.flex-container {
  display: flex;
}

.flex-container > div {
  text-align: center;
  line-height: 55px;
  font-size: 30px;
}

.icon{
  flex-grow:0; 
  margin-top:auto; 
  margin-bottom:auto;
  padding-left:30px;
  
}
.box{
  height:auto;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color:white;
  border-radius: 6px;
}
.grid{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
 }
.grid-blog{
  display: grid;
  grid-template-columns: auto auto ;
  padding: 20px;
}
.grid-course{
  display: grid;
  grid-template-columns:auto auto auto ;
  padding: 20px;
}
.blog-card{
  padding: 30px;
  font-size: 1.3em;
  width: 100%;
   }
   .course-card{
    padding: 30px;
    font-size: 1.3em;
    width: 90%;
     }
.player-card{
  padding: 30px;
  font-size: 1.3em;
  width: 100%;

}
.player-card>h3{
  padding-left: 25px;
  overflow: auto;

   }

.flexonly{
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}
.flexonly>div{
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 25px;
  justify-self: center;
}
h1{
  margin:0px;
  padding:1.5em 0 0 1.5em;
  color:#562EFF;
}
span{
  color:#562EFF;
}
.w90{
  width:90%;
}
.w80{
  width:80%;
}

.w70{
  width:70%;
}
.w60{
  width:60%;
}

.w50{
  width:50%;
}
.w45{
  width:45%;
}
.w40{
  width:40%;
}
                                                              /* blog */
div.blog-card.flexonly{
  width:90%;
}
div.player-card.flexonly{
  width:88%;
}


/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }