html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f3f1ff;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
}
                                                      /* Header + nav  */
.header{
  display:flex;
padding: auto;
width: 100%;
margin-left: auto;
margin-right: auto;
}
header > div {
  display:flex;
  text-align: center;
  line-height: 55px;
  font-size: 30px;
  }
.landing {
font-size: 1.5rem;
text-align:center;
position: fixed;
}
.nav{
width: 100%;
background-color: #562EFF;
}
.nav2{
/* background-color: #562EFF; */
align-items: center;
margin-left: auto;
margin-right: auto;
height: 90px;
padding-top: 2rem;
font-size: 1.5rem;
}
ul.nav-bar {
  list-style-type: none;
  margin: 0;
  top: 0;
  width: 100%;
  color: rgb(255, 255, 255);
}
ul.nav-bar>li{
  display: inline;
  text-align:center;
  font-size: 1.5rem;
}
li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 20px 10px;
  padding-right: 40px;
    }
li a:hover {
  color: rgb(255, 255, 255);
}
.idea{
  display: inline;
  text-align:center;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  padding-left: 1rem;
}
.idea:hover {
  color: rgb(255, 255, 255);
}
                                                    
.flex-container {
display: flex;
}
.flex-container > div {
text-align: center;
line-height: 55px;
font-size: 30px;
}

.icon{
margin-top:auto; 
margin-bottom:auto;
padding-left:30px;

}
                                                      /* Header + nav  end*/


                                                      /* Top player start */
.container{
height:auto;
align-items: center;
margin-left: auto;
margin-right: auto;
background-color:white;
border-radius: 6px;
width: 60%;
}
.grid-player{
display: grid;
grid-template-columns: auto auto auto;
padding: 20px;
}
.grid-blog{
display: grid;
grid-template-columns: auto auto ;
padding: 20px;
}
.grid-course{
display: grid;
grid-template-columns:auto auto auto ;
padding: 20px;
}
.blog-card{
padding: 30px;
font-size: 1.3em;
width: 100%;
 }
 .course-card{
  padding: 30px;
  font-size: 1.3em;
  width: 90%;
  /* box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
              0 2px 2px rgba(0,0,0,0.20), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.10),
              0 16px 16px rgba(0,0,0,0.05); */
   }

.player-card{
padding: 30px;
font-size: 1.3em;
width: 100%;

}
.player-card>h3{
padding-left: 25px;
overflow: auto;

 }

.flexonly{
display: flex;
margin-top: auto;
margin-bottom: auto;
}
.flexonly>div{
margin-top: auto;
margin-bottom: auto;
padding-right: 25px;
justify-self: center;
}
h1{
margin:0px;
padding:1.5em 0 0 1.5em;
color:#562EFF;
}
span{
color:#562EFF;
}
.w90{
width:90%;
}
.w80{
width:90%;
}

.w70{
width:70%;
}
.w60{
width:60%;
}

.w50{
width:50%;
}
.w45{
width:45%;
}
.w40{
width:40%;
}
                                                            /* blog */
div.blog-card.flexonly{
width:90%;
}
div.player-card.flexonly{
width:88%;
}

.star{
  height:1rem;
  width:auto;
  margin-top: auto;
  margin-bottom: auto;
  color:rgb(247, 189, 83);
}
.star2{
  height:1rem;
  width:auto;
  margin-top: auto;
  margin-bottom: auto;
  color:rgb(226, 226, 226);
}
.time{
  background-color:rgb(255, 210, 210);
  padding:.5rem;
  color:rgb(245, 90, 90);
  /* border: 1px solid red; */
  border-radius: 50px;
  font-weight: bold;
 }
 .rating{
   margin-top: auto;
   margin-bottom: auto;
  padding-left:1rem;
  padding-right:2rem;
  color:rgb(151, 151, 151)
 }
 .far{
   padding-right: 5px;;
 }

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}





@media only screen and (max-width: 1530px) {
  /* For mobile phones: */
  .grid-blog{
    flex-direction:column;
    width: 100%;
  
  }
  .flexonly{
    width: 100%;
  }
  .grid{
    grid-auto-flow: column;
  }
  div.grid{
    grid-auto-flow: column;
    background-color: rgb(235, 205, 205);
  }

  .container{
    height:auto;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    border-radius: 6px;
    width: 80%;
    }

      .idea{
        text-align:center;
        font-size: 2rem;
      }
      .nav{
        width: 100vh;

        }
        ul.nav-bar>li{
          text-align:center;
          font-size: 1.5rem;
          text-decoration: none;
          margin-left: auto;
          margin-right: auto;
        }
        .star{
          height:1rem;
          width:auto;
        }
        .w80{
          width:80%;
          }
  }

@media only screen and (max-width: 1250px) {
  /* For mobile phones: */
  .grid-blog{
    flex-direction:column;
    width: 100%;
  
  }
  .flexonly{
    width: 100%;
  }
  .grid{
    grid-auto-flow: column;
  }
  div.grid{
    grid-auto-flow: column;
    background-color: rgb(235, 205, 205);
  }

  .container{
    height:auto;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    border-radius: 6px;
    width: 80%;
    }

      .idea{
        text-align:center;
        font-size: 2rem;
      }
      .nav{
        width: 100vh;

        }
        ul.nav-bar>li{
          text-align:center;
          font-size: 1.5rem;
          text-decoration: none;
          margin-left: auto;
          margin-right: auto;
        }
        .grid-course{
          display: grid;
          grid-template-columns:auto auto ;
          padding: 20px;
          }
        .star{
          height:1rem;
          width:auto;
        }

  }


  @media only screen and (max-width: 1010px) {
    /* For mobile phones: */
    .grid-blog{
      flex-direction:column;
      width: 100%;
    
    }
    .flexonly{
      width: 100%;
    }
    .grid{
      grid-auto-flow: column;
    }
    div.grid{
      grid-auto-flow: column;
      background-color: rgb(235, 205, 205);
    }

    .container{
      height:auto;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      background-color:white;
      border-radius: 6px;
      width: 80%;
      }
      .w60{
        width: 80%;
      }

        .idea{
          text-align:center;
          font-size: 2rem;
        }
        .nav{
          width: 100vh;
          background-color: #562EFF;
          /* height:200px; */
          }
          div.nav{
            margin-top: auto;
            margin-bottom: auto;
          }
          ul.nav-bar>li{
            text-align:center;
            font-size: 1.5rem;
            text-decoration: none;
            margin-left: auto;
            margin-right: auto;
          }
          .grid-player{
            display: grid;
            grid-template-columns: auto auto;
            padding: 20px;
            }
            .grid-blog{
            display: grid;
            grid-template-columns: auto auto ;
            padding: 20px;
            }
            .grid-course{
            display: grid;
            grid-template-columns:auto auto ;
            padding: 20px;
            }
    }

@media only screen and (max-width: 768px) {
/* For mobile phones: */
.grid-blog{
  display:block;
  flex-direction:column;
  width: 100%;

}
.flexonly{
  display:block;
  width: 100%;

}
.player-card{
  margin-left: auto;
  margin-right: auto;
}
.grid{
  grid-auto-flow: column;
}
div.grid{
  grid-auto-flow: column;
  background-color: rgb(235, 205, 205);
}
.grid-player{
  display:block;
}
.container{
  height:auto;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color:white;
  border-radius: 6px;
  width: 80%;
  }
  .grid-course{
    display: block;
    }
    .nav{
      display:block;
    }
    .flex-container{
      display:block;
    }
    .idea{
      display: block;
      text-align:center;
      font-size: 2rem;
      padding: 0;
    }
    .nav{
      width: 100vh;
      background-color: #562EFF;
      height:400px;
      }
      ul.nav-bar>li{
        display: block;
        text-align:center;
        font-size: 1.5rem;
        text-decoration: none;
        margin-left: auto;
        margin-right: auto;
      }
      ul.nav-bar{
        width:80%;
        margin-right: auto;
        margin-left: auto;
        text-decoration: none;
        padding-left:0;
      }        
      li>a{
        padding:0;
      }
      div.icon{
        padding:0;
      }
      div.idea{
        padding-left:0;
      }

}

